extends ../layout

block content
  each co in coList
    div.modal.fade(id='#{co._id}' tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog.modal-sm(role='document')
        .modal-content
          form.form-horizontal(action='../../../co/stock' method="POST")
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#myModalLabel.modal-title 修改商品库存
            .modal-body
              .form-group
                label.col-sm-4.control-label(for='stock') 商品库存
                .col-sm-7
                  input#stock.form-control(type='text', placeholder='数量' ,name='stock' required)
                  input(style='display:none' name="coId" value="#{co._id}")
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') 取消
              button.btn.btn-primary(type='submit') 确认修改

  .row
    .col-lg-12
      h1.page-header
        | 商品管理
      ol.breadcrumb
        li
          i.fa.fa-dashboard
          span &emsp;
          a(href='index.html') fleaMarket 管理系统
        li.active
          i.fa.fa-table
            |  商品列表
  .row
    .col-lg-12
      .row
        .col-md-12.sub-btn
          a.pull-right.btn.btn-default(href="/co/add") 新增商品
      .row
        .table-responsive
          table.table.table-bordered.table-hover.table-striped(style="table-layout：fixed")
            thead
              tr
                th 商品名称
                th 商品价格
                th 商品描述
                th 店铺名称
                th 库存
                th 操作
            tbody
              each co in coList
                tr
                  td=co.name
                  td=co.price
                  td.longtext-td=co.description
                  td=co.storeName
                  td=co.stock
                  td(width="126")
                    a.btn.btn-primary.btn-xs(data-toggle="modal" data-foo="foo" data-target="#{'#'+co._id}") 修改库存
                    span &emsp;
                    a.btn.btn-danger.btn-xs(onclick="deleteCo('#{co._id}')") 下架