extends ../layout

block content
  .row
    .col-lg-12
      h1.page-header
        | 用户管理
      ol.breadcrumb
        li
          i.fa.fa-dashboard
          span &emsp;
          a(href='index.html') fleaMarket 管理系统
        li.active
          i.fa.fa-table
          |  修改用户
  .row
    .col-md-12
      form.form-horizontal(action="../../user/update/#{user._id}" method="POST")
        .form-group
          label.col-sm-2.control-label(for='username') 用户名
          .col-sm-4
            input#username.form-control(type='text',name="username", placeholder='用户名' value="#{user.username}")
        .form-group
          label.col-sm-2.control-label(for='password') 密码
          .col-sm-4
            input#password.form-control(type='password',name="password", placeholder='密码', value="#{user.password}")
        .form-group
          label.col-sm-2.control-label(for='tel') 电话
          .col-sm-4
            input#tel.form-control(type='text',name="tel", placeholder='电话', value="#{user.tel}")

        .form-group
          label.col-sm-2.control-label(for='email') 邮箱
          .col-sm-4
            input#email.form-control(type='text', name="email", placeholder='邮箱', value="#{user.email}")

        .form-group
          label.col-sm-2.control-label(for='schoolId') 所在学校
          .col-sm-4
            select#schoolId.form-control(name="schoolId")
              option(value="#{user.schoolId}") 请重新选择
              each school in schoolList
                option(value="#{school._id}") #{school.schoolname}

        ingpt
        .form-group
          .col-sm-offset-2.col-sm-6
            button.btn.btn-default(type='submit') 提交

